@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/static/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/static/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #fffdfa;
  color: #00001a;
  padding: 1rem 8rem;
}

img {
  max-width: 100%;
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

nav h3 {
  font-size: 2rem;
  font-weight: 800; /* ExtraBold */
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  color: #5e607a;
  font-weight: 400;
  cursor: pointer;
}

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  margin-bottom: 3rem;
}

.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 1.5rem;
}

.hero-content h2 {
  font-size: 3rem;
  font-weight: 800; /* ExtraBold */
  line-height: 1.1;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-text p {
  color: #5e607a;
  line-height: 1.6;
  font-weight: 400;
}

button {
  background: #f15e50;
  color: black;
  border: none;
  padding: 0.8rem 2rem;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: 700; /* Bold */
  cursor: pointer;
  margin-top: 1rem;
  width: fit-content;
}

.sidebar {
  background: #00001a;
  color: white;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.sidebar-cards {
  max-height: 100;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar h3 {
  color: #e9ab53;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.sidebar-card {
  padding: 2rem 0;
  border-bottom: 1px solid #5e607a;
  margin-bottom: 10px;
}

.sidebar-card:last-child {
  border-bottom: none;
}

.sidebar-card h4 {
  margin-bottom: 0.5rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
}

.sidebar-card p {
  color: #c5c6ce;
  font-size: 1.1rem;
  font-weight: 400;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  display: flex;
  gap: 1rem;
}

.card img {
  width: 100px;
}

.card-content h4 {
  color: #f15e50;
  font-size: 1.5rem;
  font-weight: 700;
}

.card-content h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
  cursor: pointer;
  font-weight: 800;
}

.card-content h3:hover {
  color: #f15e50;
}

.card-content p {
  color: #5e607a;
  font-size: 0.9rem;
  font-weight: 400;
}
